nav.container {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.advantages_cards.grid {
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.product_text.grid {
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

/* .centering {
  align-items: center;
} */

header.container {
  margin-top: 5rem;
}

.header_text {
  justify-content: center;
  max-width: 45vw;
  margin: auto;
  min-height: 60vh;
}

.container {
  max-width: 1100px;
}

h1 {
  line-height: 2.2rem;
}

.h2_class {
  margin-bottom: 25px;
  line-height: 35px;
}

section#advantages {
  min-height: 140vh;
}

article.advantages_card {
  margin-top: 10px;
  margin-bottom: 10px;
}

section#product {
  min-height: 130vh;
}

.product_card {
  margin-top: 10px;
  margin-bottom: 10px;
}

.highlight_small_cards.grid {
  margin-top: 50px;
  margin-bottom: 10px;
}

section.highlight.container {
  min-height: 70vh;
}

section#team {
  min-height: 90vh;
}

#team h2.h2_class {
  margin-bottom: 0;
}

.team_card {
  padding-top: 10px;
  padding-bottom: 10px;
}

section#contact {
  min-height: 80vh;
}

#advantages h3 {
  line-height: 1.5rem;
  margin-bottom: 20px;
}

#product h3 {
  line-height: 1.5rem;
  margin-bottom: 20px;
}

.highlight.container h3 {
  line-height: 1.5rem;
  margin-bottom: 20px;
}

#team h3 {
  line-height: 1.5rem;
  margin-bottom: 20px;
}

footer h3 {
  line-height: 1.5rem;
  margin-bottom: 20px;
}

p {
  line-height: 1.2rem;
}
